.headers {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.header button {
  font: inherit;
  background-color: transparent;
  border: 1px solid white;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

.header a:hover {
  opacity: 0.5;
}

.header button:hover {
  background-color: #c291e2;
  color: #38015c;
}

.authWrap {
  padding-left: 0.5rem;
}
.authWrap li {
  margin: 0 0.5rem;
  text-transform: uppercase;
}

.logout {
  cursor: pointer;
  margin: 0 0.3rem;
}

