.contactform {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
    margin-bottom: 2rem;
  }
 
  input {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
 
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
 
  .submitButton {
    background-color: #6976d9;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
    padding: 1rem;
    border: transparent;
    border-radius: 5px;
  }
  .form-group {
      margin-bottom: 1rem;
  }

  .records {
      margin-top: 1rem;
      margin-bottom: 3rem;
      background-color: #000;
      padding: 2rem;
      display: flex;
      justify-content: center;
      color: #fff;
  }
  .title {
      text-align: center;
  }

  .records p {
      margin: 0 1rem;
  }