.commentwrap {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.commentspost {
    background-color: rgb(241 237 237);
    padding: 1rem;
    margin-bottom: 1rem;
}
.commentspost .name {
    margin-bottom: 0.3rem;
    font-weight: bold;
}
.commentspost .email {
    margin-bottom: 0.3rem;
}
.commentspost .body {
    margin-bottom: 0.3rem;
}