.postwrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.postwraps {
	/* padding: 2% 0; */
}
.postwraps .dataContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.card {
	height: auto;
	background: #fff;
	border-radius: 1.5rem;
	padding: 1.5rem;
	overflow: hidden;
	position: relative;
	max-width: calc(25% - 1rem);
	width: 25%;
	-webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
  
  .card-img-holder {
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
  }
  
  .card-img-holder img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 1.5rem;
  }
  
  .blog-title {
	color: #22215B;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  .description{
	color: #22215B80;
	font-size: 1rem;
  }
  
  .blog-time{
	font-size: .8rem;
	color: #22215B;
  }
  .blog-title a {
	  color: #000;
	  text-decoration: none;
	  font-size: 1rem;
  }
  .blog-title a:hover {
	  color: blue;
  }
.loadingmsg {
	display: block;
	text-align: center;
}
.headwrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headwrap span {
	font-size: 1rem;
}
select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.choosen {
	margin-left: 1rem;
}
  @media (max-width: 992px) {
	.card {
		max-width: calc(33.333% - 1rem);
		width: 33.333%;
	}
  }
  @media (max-width: 768px) {
	.card {
		max-width: calc(50% - 1rem);
		width: 50%;
	}
  }



  @media (max-width: 420px) {
	.card {
		max-width: calc(100% - 1rem);
		width: 100%;
	}
  }

