@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 400px;
}

iframe {
  display: none !important;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.langitems {
  cursor: pointer;
  margin: 0 0.5rem;;
}

.slickwrapper {
  padding-left: 25px;
  padding-right: 25px;    
}
