  
  .loader-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
  }
  
  .loader {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 5px solid rgba(178, 34, 34, 0.7);
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
    width: 400px;
    height: 400px;
  }

  
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
