.login-form {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.input-container {
  margin-bottom: 1rem;
  text-align: left;
}
.input-container label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;

height: 40px;
border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
margin-top: 10px;
cursor: pointer;
font-size: 15px;
background: #000;
border: 1px solid #000;
color: #fff;
padding: 10px 20px;
}

input[type="submit"]:hover {
  background: rgb(110, 107, 107);
}


.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}
